<center>

	<img src="YAG-OSDL-CURRENT-CONTENT-RAW" alt="Image YAG-OSDL-CURRENT-CONTENT-RAW not available" width="95%"></img>

</center>

<p><center>
  <a href="mailto:YAG-OSDL-TOKEN-CONTACT?subject=[YAG-OSDL-TOKEN-PROJECT-NAME]%20A%20propos%20de%20la%20galerie">[Ecrire à l'auteur de la galerie]</a>
</center>
  <br><br><br>
  </p><br>
  <br>
  <hr>

  <center>
	<em>Créé le YAG-OSDL-TOKEN-DATE pour le projet "YAG-OSDL-TOKEN-PROJECT-NAME" par <a href="http://snake.esperide.org/yag-osdl.html" target="_blank">yag-osdl version YAG-OSDL-TOKEN-GENERATOR</a></em>
  </center>
</body>
</html>
