<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
"http://www.w3.org/TR/html4/frameset.dtd">
<!--    This document is a part of the YAG-OSDL-TOKEN-PROJECT-NAME project
		For any comment, please mail to YAG-OSDL-TOKEN-CONTACT
-->
<!--
		Creation date: YAG-OSDL-TOKEN-DATE.
		Author: YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)
		Update made by: the author
		Version number: 0.1
		Adapted from: http://www.w3.org/Style/Examples/007/maps.html
-->

<html lang="FR">
<head>
  <title>YAG-OSDL-TOKEN-PROJECT-NAME</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="YAG-OSDL-TOKEN-PROJECT-NAME">
  <meta name="keywords" content="YAG-OSDL-TOKEN-PROJECT-NAME, image, picture, gallery">
  <meta name="author" content="YAG-OSDL-TOKEN-AUTHOR">
  <meta name="reply-to" content="YAG-OSDL-TOKEN-CONTACT">
  <meta name="identifier-URL" content="http://snake.esperide.org">
  <meta name="copyright" content="YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)">
  <meta name="revisit-after" content="14 days">
  <meta name="robots" content="all">
  <link href="YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME-icon.png" rel="YAG-OSDL-TOKEN-PROJECT-NAME icon">
  <link rel="alternate stylesheet" title="Oldstyle" href="http://www.w3.org/StyleSheets/Core/Oldstyle">
  <link rel="alternate stylesheet" title="Modernist" href="http://www.w3.org/StyleSheets/Core/Modernist">
  <link rel="alternate stylesheet" title="Midnight" href="http://www.w3.org/StyleSheets/Core/Midnight">
  <link rel="alternate stylesheet" title="Ultramarine" href= "http://www.w3.org/StyleSheets/Core/Ultramarine">
  <link rel="alternate stylesheet" title="Swiss" href="http://www.w3.org/StyleSheets/Core/Swiss">
  <link rel="alternate stylesheet" title="Chocolate" href="http://www.w3.org/StyleSheets/Core/Chocolate">
  <link rel="alternate stylesheet" title="Traditional" href="http://www.w3.org/StyleSheets/Core/Traditional">
  <link rel="alternate stylesheet" title="Steely" href="http://www.w3.org/StyleSheets/Core/Steely">
  <link rel="alternate stylesheet" title="Forest (by David Baron)"
		href="http://dbaron.org/style/forest">
  <link rel="alternate stylesheet" title="Plain (by David Baron)"
		href="http://dbaron.org/style/plain">
  <style type="text/css">
  body {
  background-color: #000000;
  color: #FFFF99;
  }
:link { color: #FFCC00 }
:visited { color: #999966 }
:active { color: #99CC00 }
  h1.c1 {text-align: center}
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<frameset cols="18%,*" frameborder="0" border="0" framespacing="0">
  <frame name="toolbar" src="YAG-OSDL-TOKEN-FIRST-MENU" marginheight="0" frameborder="1" marginwidth="0" scrolling="auto">
  <frame name="mainFrame" marginheight="0" frameborder="1" marginwidth="0" scrolling="auto">

  <noframes>
	<body>
	  <h1 class="c1">Frames not supported</h1>

	  <p>This document is designed to be viewed using frame features.<br>
		If you are seeing this message, please consider upgrading to a frame-compatible browser. We recommend <a href="https://www.mozilla.org/en-US/firefox/">Firefox</a>.</p>

	</body>
  </noframes>
</frameset>
</html>
