<!DOCTYPE HTML PUBLIC "HTML 4.01 Transitional" "http://www.w3.org/TR/html4/frameset.dtd">
<!--    This document is a part of the YAG-OSDL-TOKEN-PROJECT-NAME project
		For any comment, please mail to YAG-OSDL-TOKEN-CONTACT
-->
<!--
		Creation date: YAG-OSDL-TOKEN-DATE.
		Author: YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)
		Update made by: the author
		Version number: 0.1
		Adapted from: http://www.w3.org/Style/Examples/007/maps.html
-->

<html lang="FR">
<head>
  <title>YAG-OSDL-TOKEN-PROJECT-NAME - Thèmes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="YAG-OSDL-TOKEN-PROJECT-NAME">
  <meta name="keywords" content="YAG-OSDL-TOKEN-PROJECT-NAME, image, picture, gallery">
  <meta name="author" content="YAG-OSDL-TOKEN-AUTHOR">
  <meta name="reply-to" content="YAG-OSDL-TOKEN-CONTACT">
  <meta name="identifier-URL" content="http://snake.esperide.org">
  <meta name="copyright" content="YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)">
  <meta name="revisit-after" content="14 days">
  <meta name="robots" content="all">
  <link rel="stylesheet" type="text/css" href=
  "YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME.css" media="screen, print, projection, tv">
  <link href="YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME-icon.png" rel="YAG-OSDL-TOKEN-PROJECT-NAME icon">
</head>

<body>
  <div class="banner">
	<p><em>Général</em>
	  <a href="mailto:YAG-OSDL-TOKEN-CONTACT?subject=[YAG-OSDL-TOKEN-PROJECT-NAME]%20A%20propos%20de%20la%20galerie">Ecrire à l'auteur de la galerie</a>
  </div><a name="_top_"></a>

  <h1>Thèmes répertoriés pour la galerie <em>YAG-OSDL-TOKEN-PROJECT-NAME</em></h1>

<h2>Principe</h2>
  <p>
	Cette page est un portail vers tous les thèmes répertoriés, classés hiérarchiquement. Cliquer sur un thème permet de consulter les contenus qui lui sont relatifs (leur nombre est indiqué entre parenthèses).
  </p>


<h2>Arbre des thèmes</h2>
<p>
YAG-OSDL-THEME-TREE
</p>


  <br><br>
  <p><center>
	  <a href="mailto:YAG-OSDL-TOKEN-CONTACT?subject=[YAG-OSDL-TOKEN-PROJECT-NAME]%20A%20propos%20des%20thèmes">[Ecrire à l'auteur de la galerie]</a>
	  </center>
  </p>
  <hr>

  <center>
	<em>Créé le YAG-OSDL-TOKEN-DATE pour le projet "YAG-OSDL-TOKEN-PROJECT-NAME" par <a href="http://snake.esperide.org/yag-osdl.html" target="_blank">yag-osdl</a></em>
  </center>
</body>
</html>
