<!DOCTYPE HTML PUBLIC "HTML 4.01 Transitional" "http://www.w3.org/TR/html4/frameset.dtd">
<!--    This document is a part of the YAG-OSDL-TOKEN-PROJECT-NAME project
		For any comment, please mail to YAG-OSDL-TOKEN-CONTACT
-->
<!--
		Creation date: YAG-OSDL-TOKEN-DATE.
		Author: YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)
		Update made by:  the author
		Version number: 0.1
		Adapted from: http://www.w3.org/Style/Examples/007/maps.html
-->

<html lang="FR">
<head>
  <title>YAG-OSDL-TOKEN-PROJECT-NAME - Page principale</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="YAG-OSDL-TOKEN-PROJECT-NAME">
  <meta name="keywords" content="YAG-OSDL-TOKEN-PROJECT-NAME, image, picture, gallery">
  <meta name="author" content="YAG-OSDL-TOKEN-AUTHOR">
  <meta name="reply-to" content="YAG-OSDL-TOKEN-CONTACT">
  <meta name="identifier-URL" content="http://osdl.sourceforge.net">
  <meta name="copyright" content="YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)">
  <meta name="revisit-after" content="14 days">
  <meta name="robots" content="all">
  <link rel="stylesheet" type="text/css" href=
  "YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME.css" media="screen, print, projection, tv">
  <link href="YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME-icon.png" rel="YAG-OSDL-TOKEN-PROJECT-NAME icon">
</head>

<body>
  <div class="banner">
	<p><em>Général</em>
	  <a href="mailto:YAG-OSDL-TOKEN-CONTACT?subject=[YAG-OSDL-TOKEN-PROJECT-NAME]%20A%20propos%20de%20la%20galerie">Ecrire à l'auteur de la galerie</a>

  </div><a name="_top_"></a>

  <h1>Bienvenue sur la galerie YAG-OSDL-TOKEN-PROJECT-NAME</h1>

  <h2>Principe</h2>

  <p>
	Cette galerie a été générée automatiquement pour le projet <b>YAG-OSDL-TOKEN-PROJECT-NAME</b> par <a href="http://osdl.sourceforge.net/main/documentation/OSDL/OSDL-generic/yag-osdl.html" target="_blank">yag-osdl version YAG-OSDL-TOKEN-GENERATOR</a>, le YAG-OSDL-TOKEN-DATE.
</p>

  <p>
	Cette galerie est structurée de manière arborescente, et vous êtes actuellement à sa racine, à partir de laquelle pour pouvez naviguer.
  </p>

  <p>
	Des pages de synthèse vous permettent de consulter des vignettes des contenus référencés. L'intégralité des informations, y compris les méta-données, est disponible en cliquant sur la vignette correspondante.
</p>


  <p>
	Deux types de métadonnées sont disponibles:
<center>
<table border="1" summary="table">
	<caption>Métadonnées relatives au contenu</caption>
	<tr>
		<th>Icône</th>
		<th>Nom</th>
		<th>Rôle</th>
	</tr>

	<tr>
		<td><center><img src="yag-osdl-resources/comment.png" alt="[Comment]" width="16"></img></center> </td>
		<td>Commentaire</td>
		<td>Un texte relatif au contenu associé, fourni par l'auteur de la galerie</td>
	</tr>

	<tr>
		<td><center><img src="yag-osdl-resources/theme.png" alt="[Theme]" width="16"></img></center> </td>
		<td>Thème</td>
		<td>Une liste des thèmes dans lesquels ce contenu se range</td>
	</tr>

</table>
</center>
</p>

YAG-OSDL-GALLERY-LICENSE

YAG-OSDL-GALLERY-INFO



  <p>
	La navigation peut donc s'effectuer selon deux approches (juste cliquer sur celle à privilégier, dans le menu à gauche de la page suivante) :
<ul>

  <li><a href="YAG-OSDL-TOKEN-PROJECT-NAME.html">selon le contenu</a> : on parcourt alors les contenus en fonction de leur organisation dans les ressources indexées, en se déplaçant dans le menu de gauche
	</li>

	<li><a href="YAG-OSDL-TOKEN-PROJECT-NAME-theme.html">en fonction des thèmes</a> : la carte des thèmes permet de représenter leur hiérarchie et de les sélectionner
	</li>

</ul>
  </p>

  <br>
  <p>

<center>[<a href="YAG-OSDL-TOKEN-PROJECT-NAME.html">Cliquez ici pour parcourir cette galerie !</a>]</center>

  </p>
</br>

  <br>
  <p>
	<center>
	  <a href="mailto:YAG-OSDL-TOKEN-CONTACT?subject=[YAG-OSDL-TOKEN-PROJECT-NAME]%20A%20propos%20de%20la%20galerie">[Ecrire à l'auteur de la galerie]</a>
	</center>
  </p>
  <hr>

  <center>
	<em>Créé le YAG-OSDL-TOKEN-DATE pour le projet YAG-OSDL-TOKEN-PROJECT-NAME par <a href="http://osdl.sourceforge.net/main/documentation/OSDL/OSDL-generic/yag-osdl.html" target="_blank">yag-osdl version YAG-OSDL-TOKEN-GENERATOR</a></em>
  </center>
</body>
</html>
