<!DOCTYPE HTML PUBLIC "HTML 4.01 Transitional" "http://www.w3.org/TR/html4/frameset.dtd">
<!--    This document is a part of the YAG-OSDL-TOKEN-PROJECT-NAME project
		For any comment, please mail to YAG-OSDL-TOKEN-CONTACT
-->
<!--
		Creation date : YAG-OSDL-TOKEN-DATE.
		Author : YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)
		Update made by :  the author
		Version number : 0.1
		Adapted from : http://www.w3.org/Style/Examples/007/maps.html
-->

<html lang="EN">
<head>
  <title>YAG-OSDL-TOKEN-PROJECT-NAME - Menu</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="YAG-OSDL-TOKEN-PROJECT-NAME">
  <meta name="keywords" content="YAG-OSDL-TOKEN-PROJECT-NAME, image, picture, gallery">
  <meta name="author" content="YAG-OSDL-TOKEN-AUTHOR">
  <meta name="reply-to" content="YAG-OSDL-TOKEN-CONTACT">
  <meta name="identifier-URL" content="http://osdl.sourceforge.net">
  <meta name="copyright" content="YAG-OSDL-TOKEN-AUTHOR (YAG-OSDL-TOKEN-CONTACT)">
  <meta name="revisit-after" content="14 days">
  <meta name="robots" content="all">
  <link rel="stylesheet" type="text/css" href=
  "YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME.css" media="screen, print, projection, tv">
  <link href="YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME-icon.png" rel="YAG-OSDL-TOKEN-PROJECT-NAME icon">
</head>

<body onload="parent.mainFrame.location=&#39;Overview-0.html&#39;">
  <a name="_top_"></a>
  <br>
  <br>

  <div class="Visited">
  <center>
	<a href="YAG-OSDL-TOKEN-ROOT-PATH/MainYAG-OSDL-TOKEN-PROJECT-NAME.html" target="_parent"><img src="YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/YAG-OSDL-TOKEN-THEME-small.jpg"
	alt="YAG-OSDL-TOKEN-THEME logo"></a>
  </center>
  </div>

  <hr>

  <table width="100%" summary="Go to main menu">
	<tr>
	  <td width="15"><a href="../YAG-OSDL-TOKEN-PARENT-SHORT-DIRECTORYhtml"><img src="YAG-OSDL-TOKEN-ROOT-PATH/yag-osdl-resources/BackArrow.png" border="0" alt="Back"></a></td>

	  <td align="center"><a href="../YAG-OSDL-TOKEN-PARENT-SHORT-DIRECTORYMenu.html">Up one level</a></td>
	</tr>
  </table>
  <hr size="2">

  <div class="Visited">
	<center><a href="Overview-0.html" target="mainFrame">YAG-OSDL-TOKEN-SHORT-CONTENT-DIRECTORY</a></center>
  </div>
  <hr size="2">

  <table width="100%" summary="Document list">

<!-- Headers stops here -->
