/* This document is a part of the OSDL Project */
/* Standard Cascading Style Sheet File */

/* Author : Olivier Boudeville (olivier.boudeville@online.fr) */


div.box { 
  border: solid;
  padding : 5px;
  border-width: thin ;
  background: #303030; 
  text-align: left;
}


div.centered { 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* green for an open poll */
div.open {
  font-family: courier;
  color: #32CD32;

}


/* red for a closed one */
div.closed {
  font-family: courier;
  color: #FF0000;  

}


/* blue for a pending one */
div.running {
  font-family: courier;
  color: #0000FF;  

}

body {
  background: #000000;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  text-indent: 4%;
  text-align: left;
  margin-left: 5%;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #DADADA;
}


h1.Huge {
  color: #9E9E9E ;
  font-size: 70px;
  background: transparent;
  font-weight: bold;
  font-family: Verdana;
  margin-top: 0%;
  margin-bottom: 0;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}


h1.Big {
  color: #9E9E9E ;
  font-family: "Lucida Sans Unicode";
  font-size: 40px;
}


h1 {
  color: #FFFFFF;
  font-size: 30px;
  background: transparent;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%;
}


h2 {
  color: #EFEFEF ;
  font-size: 25px;
  background: transparent;
  text-align: left;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  margin-top: 5%;
  margin-bottom: 5%;
}


h3 {
  color: #DADADA;
  font-size: 20px;
  background: transparent;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 4%;
}


h4 {
  color : #AAAAAA;
  font-size: 17px;
  margin-left: 7%;
  margin-right: 7%;
  font-family : "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  font-weight: normal;
}


h5 {
  color : #9E9E9E;
  font-size: 17px;
  margin-left: 8%;
  margin-right: 8%;
  font-family : "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  font-weight: bold;
}


div.Visited {
  font-size: 20px;
  color: #EFEFEF;
}


dl {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 16px;
  margin-left: 8%;
  text-align: left;
  color: #EFEFEF;
  font-weight: bold;
  margin-right: 2%;
}


dt {
  color: #EFEFEF;
  font-weight: bold; 
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
  margin-bottom: 1%;  
  background: #5E5E5E;
}


dd {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 12px;
} 


p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: justify;
  text-indent: 2em;
}


ul {
  color: #EFEFEF;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  text-align: left;
  list-style: square;		
  margin-right: 0%;
}


/*
ol {
  color: #EFEFEF;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  text-align: left;
  font-weight: bold;  
  list-style: decimal;		
  margin-right: 0%;
}
*/


ul li {
  color: #DADADA; 
  margin-left: 0%;
  margin-right: 0%; 
  list-style: square;
}


ol li {
  color: #DADADA; 
  margin-left: 5%;
  margin-right: 0%;
  list-style: decimal;
}


ul ul li {
  list-style: circle;
}


ul ul ul li {
  list-style: disc;
}


dd ul li {
  font-size: 16px;  
  font-weight: bold;
  color: #BABABA;	
}

	
pre {  
  color: #BABABA ;
  font-family: monospace;
  margin-left: 4%;
  white-space: pre;
}


table {
  color: #DADADA;  
  margin: 5px;
  border: solid; 
  border-width: thin; 
  border-collapse: separate;
  border-spacing: 5pt;
}


table caption {
 font-size: 15px;
 caption-side: bottom;
 text-align: center;
 font-style: italic;
} 


table p, table dl, ol p, ul p, dl p, blockquote p, .note p, .note ul, .note ol, .note dl, li pre, dd pre {
  margin-left: 0;
  margin-right: 0;
}


tr {
   background : #000000;
   font-family: arial, helvetica, sans-serif;
   font-size: 15px;
   border:thin;
}


th { 
   background : #000000;
   color: #EFEFEF;
   font-family: arial, helvetica, sans-serif; 
   font-weight: bold;
   font-size: 19px;
   text-align: center;
 }


td {
   background : #000000; 
   font-family: arial, helvetica, sans-serif;
   font-size: 15px;
}


p.top {
  background: #00FF00;
  margin-left: 1%;
  margin-right: 1%;
}


blockquote {
  margin-left: 8%;
  margin-right: 8%;
  border: thin ridge #FF0000;
  /* border: thin ridge #B1B189;*/
}


blockquote pre {
  margin-left: 1%;
  margin-right: 1%;
}


dt a {
  font-weight: bold;
  color: #EFEFEF;
  margin-top: .8em;
}

dt a:visited {
  font-weight: bold;
  color: #BABABA;
  margin-top: .8em;
}

td a {
  font-weight: bold;
  font-size: 15px;
}


a:link {
  color:#FFFFFF; 
  background: transparent;
  font-weight: bold;
  text-decoration: none;
  /*font-size: 110%;  */
}
  

a:visited {
  color: #FFFFFF;
  background: transparent;
  font-weight: bold;  
  text-decoration: none;
}


a:active {
  color: #FFFFFF;
  background: transparent;
  font-weight: bold;  
  text-decoration: none;
}


a:hover { 
  text-decoration:underline;
  font-weight: bold; 
  color:#FFFFFF;
}


code {
  color: #B5B5B5 ;
  font-size: 17px;
  font-weight: normal;   
  font-family: Courier;
  /* disabled :
  border-left-style: solid;
  border-left-width: 3px;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none; 
  */
}


b {
  color: #EFEFEF;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  font-size: 18px;
  font-weight: bold;
}


/* Taken from http://www.w3.org/Style/Examples/007/menus.html */
div.banner {
  margin: 0;
  background: #A0A0A0;
  font-size: 80% ;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: fixed;
  top: 1em;
  left: auto;
  width: 10em;
  right: 1em;
}


div.banner p {
  margin-left: 0em; 
  padding:  0em;
  font-family: Arial, sans-serif;
  background: #808080;
  border: thin outset #AAAAAA;
  color: #900;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}


div.banner a, div.banner em { display: block; margin: 0em; }
div.banner a, div.banner em { border-top: 2px groove #EEEEEE; } /* separator */
div.banner a:first-child { border-top: none; } 
div.banner em { color: #FFFFFF; font-weight: bold; } /* head of column */

div.banner a:link { text-decoration: none; color: #EEEEEE; }
div.banner a:visited { text-decoration: none; color: #CCCCCC; }
div.banner a:hover { background: #000000; color: #FFFFFF; }
