[Options]

# Now can be mostly any string:
project_name = My Example

# One may prefer absolute paths for simpler management.

content_directory = /home/dalton/Projects/OSDL-data/exported-data/snapshots
#resource_directory = /home/dalton/Projects/Tools/yag/yag-osdl-latest/resources

#output_in_content = True
#output_directory = /home/dalton/Projects/Tools/yag/yag-osdl-latest/output

output_in_content = False
output_directory = /tmp/My-Example-Output

language = English
#language = French

#theme = OSDL-english-theme
theme = OSDL-french-theme

thumbsize = 120
images_by_row = 4
images_by_column = 4
dash_is_space_in_menu = True

author = Joe Dalton
author_mail = joe.dalton@maverick.org

gallery_license_file = gallery-license.txt
gallery_info_file = gallery-info.txt
