<center>

	<img src="YAG-OSDL-CURRENT-CONTENT-RAW" alt="Image YAG-OSDL-CURRENT-CONTENT-RAW not available"></img>

</center>
 
  <br><br><br>
  <p><center><a href="mailto:YAG-OSDL-TOKEN-CONTACT?subject=[YAG-OSDL-TOKEN-PROJECT-NAME]%20About%20YAG-OSDL-CURRENT-CONTENT-TXT">Drop a line to the gallery's author</a> !</center> 
  </p><br>
  <br>
  <hr>

  <center>
    <em>Created on YAG-OSDL-TOKEN-DATE for project YAG-OSDL-TOKEN-PROJECT-NAME by <a href="http://osdl.sourceforge.net" target="_blank">yag-osdl version YAG-OSDL-TOKEN-GENERATOR</a></em>
  </center>
</body>
</html>
